@import "./variables.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~bootstrap/scss/bootstrap";
@import "./override.scss";

html {
    background: url("~assets/images/bg.jpg") no-repeat fixed;
    background-size: auto;
    body {
        background-color: rgba(27,27,27,0.76);
    }
}

html, body, #root-app {
    height: 100%;
    min-width: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.max-height {
    height: 100%;
}

.max-width {
    min-width: 100%;
    width: 100%;
}

.super-center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}