@import "./variables.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~bootstrap/scss/bootstrap";
@import "./override.scss";

html, body {
    background: url("~assets/images/bg.jpg") no-repeat center fixed;
    background-size: auto;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body, #root-app {
    background-color: rgba(27,27,27,0.76);
    min-height: 100%;
}

.max-width {
    min-width: 100%;
    width: 100%;
}

.super-center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}