@import "~variables";

.formpart {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 2em;

    .form-title {
        font-size: 20px;
    }
    
    .platform-radio {
        width: 100%;
    }

    .btn-block {
        margin-top: 0;
    }

    .form-group {
        margin-bottom: 0;
    }
    .description {
        opacity: 0.64;
    }
}

.ad {
    margin-top: 1em;
    margin: 0 auto;
    text-align: center;
}